body{
    background-color: rgb(12, 12, 12);
}
.herosection {
    background-image: linear-gradient(rgba(36, 33, 103, 0.516), rgba(27, 101, 133, 0.566)), 
                      url('assett/coding.webp');
    height: 100vh;
    background-repeat: no-repeat; 
    background-size: cover; 
    background-position: center; 
    width: 100%;
    display: flex;
    align-items: center; 
    height: 80vh;
}